:root {
  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  --font-size: 0.9375rem;
  --primary-font-family: 'Big Shoulders Display', cursive;
  --secondary-font-family: 'Lexend Deca',
    sans-serif;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  min-height: 100vh;
  background-color: var(--main-bg-blue);
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
}

.cards {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card {
  display: grid;
  gap: 2rem;
  padding: 3rem;
}

[data-vehicle-type="sedans"] {
  background-color: var(--orange);
}

[data-vehicle-type="suvs"] {
  background-color: var(--dark-cyan);
}

[data-vehicle-type="luxury"] {
  background-color: var(--very-dark-cyan);
}

.card__icon {
  width: 3.75rem;
}

.card__title {
  font-size: 2.5em;
  font-family: var(--primary-font-family);
  color: var(--light-gray);
  text-transform: uppercase;
}

.card__description {
  font-size: var(--font-size);
  font-family: var(--secondary-font-family);
  color: var(--transparent-white);
  line-height: 1.75rem;
}

.card__link {
  text-decoration: none;
  font-family: var(--secondary-font-family);
  background-color: white;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 0.75rem 2rem;
  align-self: flex-start;
  width: fit-content;
}

[data-vehicle-type="sedans"] > .card__link {
  color: var(--orange);
}

[data-vehicle-type="suvs"] > .card__link {
  color: var(--dark-cyan);
}

[data-vehicle-type="luxury"] > .card__link {
  color: var(--very-dark-cyan);
}

.card__link:hover {
  background-color: transparent;
  color: white;
}

footer {
  font-family: var(--secondary-font-family);
  position: absolute;
  bottom: 5px;
  width: 100%;
}

@media (min-width: 1024px) {
  main {
    height: 100vh;
  }

  .cards {
    flex-direction: row;
    max-width: 900px;
  }

  .card {
    max-width: 300px;
  }

  .card__description {
    margin-bottom: 2rem;
  }
}